%div.post
  %h2.title
    = link_to "United Nations Security Council Allotments", "#"

  %div.entry
    #experience    
      %table
        %tr
          %th Country
          %th Name
          %th College
        %tr
          %td United States of America
          %td Shouryendu Ray
          %td NUJS Calcutta
        %tr
          %td Russian Federation
          %td Jaideep Sood
          %td Symbiosis Law School Noida
        %tr
          %td People’s Republic of China
          %td Ahaan Mohan
          %td NUJS Calcutta
        %tr
          %td France
          %td Harish Vasudev
          %td PSG Tech, Coimbatore
        %tr
          %td United Kingdom of Great Britain and Northern Ireland
          %td Jatin Gulati
          %td SOL, Delhi University
        %tr
          %td Viet Nam
          %td Surendra Kumar
          %td RMLNLU, Lucknow
        %tr
          %td Philippines
          %td Sumit Kumar
          %td Symbiosis Law School, Pune
        %tr
          %td Iran (Islamic Repubic of)
          %td Abin Francis
          %td NUJS Calcutta
        %tr
          %td Brazil
          %td Pratik Tandon
          %td SIMC, Pune
        %tr
          %td South Africa
          %td Leela Krishna Nukkala
          %td VIT University
        %tr
          %td Australia
          %td Sourabh Rander
          %td CMS Bangalore
        %tr
          %td India
          %td Kavijit SIngh
          %td Chitkara University, Punjab
        %tr
          %td Japan
          %td Rishabh Jain
          %td MERI New Delhi
        %tr
          %td Republic of Korea
          %td Arindrajit Basu
          %td SRCC Delhi
        %tr
          %td Venezuela (Bolivarian Republic of)
          %td Zubin Dash
          %td NUJS Calcutta
        %tr
          %td Singapore
          %td Krishna Parkhani
          %td Symbiosis Law School Pune
        %tr
          %td Indonesia
          %td Prakhar Misra
          %td MSRIT Bangalore
        %tr
          %td Malaysia
          %td Saket Mani
          %td Sinhgad University Pune
        %tr
          %td Thailand
          %td Aneesh Pani
          %td GEC Bhubaneswar
        %tr
          %td Brunei Darussalam
          %td Keerthivas Giri
          %td NLSIU, Bangalore
