.rotator {
 margin: 0 auto;
 width:1160px;
 z-index:-1;
 
 }

.rotator ul li{
   list-style: none ;
   position: absolute;
 }

.rotator ul {
   padding: 0px ;
 }

.rotator ul li.show { 

z-index: 500; } 

.pics {

  width: 1160px;
  margin: 0 auto; }
 
#slideshow {
  height:335px;
  z-index: 0; }

.slides {
  z-index: 1; }

#autochange {
 z-index: 1; }
 
#col2 {

z-index:1; }  


