%div.post
  %p.meta
    %span.date
      = Date.today
    = Time.now
  %h2.title
    = link_to "Welcome to IIT KGP MUN 2012", "#"

  %div.entry
    %p
      One of the premier institutes of the country, IIT Kharagpur, presents its first Model United
      Nations Conference in collaboration with UNIC for India and Bhutan. It will be held from Jan
      20th to 23rd, 2012 during Spring Fest, the annual social and cultural festival of the institute.
    
    %p
      Apart from the innovative councils, the confluence of 3 formidable brands viz. United
      Nations, IIT Kharagpur and Spring Fest promises to make this an unforgettable experience.
      For where else can you lose yourself to a couple of divinely hours of classical renderings, let
      your hair lose and head bang to a rock band in a stadium, witness some of the most mind
      boggling performances you would ever see, and all this while MUNing with the best from
      throughout the country, not to mention a prize money of Rs 48,000 to fight for. Add to that
      the extravaganza of the Diamond Jubilee Year of the country’s first IIT; you sure wouldn’t
      want to miss this one!
