%div.post
  %p.meta
    %span.date
      = Date.today
    = Time.now
  %h2.title
    = link_to "About The MUN Conference", "#"

  %div.entry
    %p
      %br
      Summary:
      %br
      Date: 21st to 23rd January, 2012
      %br
      Venue: IIT Kharagpur, West Bengal, India.
      %br
      Committees: 2
      %ol
        %li General Assembly – ECOSOC
        %li NATO
    %p 
      Being one of the largest social and cultural fests in the country, Spring Fest aspires for youth
      to be socially aware, to develop a deep insight into the problems facing the world today,
      to create awareness of the causes of conflict between nations and to lead them to a better
      understanding of their interests. IITKGP MUN therefore humbly attempts to fulfil the goals
      set by the founding fathers of the United Nations, as drafted in the Preamble charter:
      “To practice tolerance and live together in peace with one another as good neighbours.”
      %br
      To know more about the Executive Board,
      = link_to "<click here>" , "#"
