%div.post
  %h2.title
    = link_to "About the MUN", "#"

  %div.entry
    %p
      %b
        What is IITKGPMUN?
    %p
      Indian Institute of Technology Kharagpur presents its first Model
      United Nations Conference. It is organized by Spring Fest, the
      annual social and cultural festival of the institute, in association
      with Debating Society, IIT Kharagpur. IITKGP MUN is a three day
      conference and will be held from 21st to 23rd January, 2012.
    %p
      IIT KGP MUN aspires for the youth to be socially aware, to
      develop a deep insight into the world's problems, to create
      awareness of the causes of conflict between nations and to lead
      them to a better understanding of the interests and motivation of
      others. IITKGP MUN therefore humbly attempts to fulfil the goals
      set by the founding fathers of the United Nations, as drafted in
      the Preamble charter:
      %br
      “To practice tolerance and live together in peace with one another
      as good neighbours.”
    %p
      %b
        Why IITKGPMUN?
    %p
      With innovative councils, compelling crisis simulations, a
      dynamic International Press, state-of- the-art infrastructure and
      the extravaganza that comes along with the Diamond Jubilee
      Year celebrations of the country’s first IIT - not to mention the
      handsome prize money you stand to win - this is one MUN you
      wouldn’t want to miss. Add to that the plethora of concerts and
      shows in the fest itself - soul-stirring classical music, international
      rock gigs, mind boggling performances; Executive Board and
      International Press remuneration, IIT KGP MUN has it all.
    %p
      %b
        The Team
    %p
      Secretary General - Prashanth Durai
      %br
      Director General- Sanat Mehrotra
      %br
      Under Secretary General - Vishnu Subramanian
      %br
      Director of Media and Press Relations - Adarsh Mathew
      %br

      Director of Delegate Affairs and Public Relations - Barath Mahadevan
      %br

      Director of Conference Resources and Logistics - Rohit John
      %br

      Director of Hospitality - Arpita Maheshwari
      %br

      Keynote speaker - To be updated soon.
