%div.post
  %h2.title
    = link_to "Agenda", "#"

  %div.entry
    %p
      %b
        Historic General Assembly:
      %br
      Set in the latter 40s of the 20th century, this committee
      represents a world still reeling from the devastating
      effects of the greatest war in recorded human history.
      Throughout this time, the Middle East has been on
      tenterhooks. The immigration of Jews to the land they
      believe is theirs by right of religion, precipitated by the
      fall of the Ottomans and greatly accelerated due to
      ruthless persecution by the Nazis, has inflamed the Arab
      majority that resides there. The Jews, for their part,
      have suffered immeasurably, right from the misdirection
      portrayed by the Balfour Declaration to the fiasco with
      the Exodus ship. The British have interfered in the
      matters of this region for quite a while, and now things
      start to be ripping at the seams. Riots and hostilities are a
      present concern. Amidst this turmoil, the United Nations
      General Assembly has come to session to prevent this
      situation from escalating into another full-scale war. Do
      keep reading if you want to be part of a chance to, quite
      possibly, rewrite world history.
    %p
      %br
      %b
        United Nations Security Council:
      %br
      Turn back the clock by 6 centuries. Facing a dearth of
      resources and a hunger to expand, the aftermath of
      the Industrial Revolution spelled stagnation. But with
      the knowledge that unknown worlds lay beyond the
      horizon with tales of riches galore and a fear that arose
      from competitive spirit, nations began sending out
      expeditions to said faraway lands. And thus began the
      Colonial era. And with it came wars, disputes, oppression
      and an arms race of the like the world had never seen.
    %p    
      %br
      All this culminated in the bloodiest war in the history of
      humankind until then, World War I. Dark days indeed.
      The year now is 2011 and we find ourselves in the same
      predicament, facing the same conundrum – where do we
      find our resources from? And deep down in the recesses
      of our consciousness, tales of the abundant riches of
      the Arctic whisper to us, calling out like a mermaid’s
      song. With the melting ice-caps and greater accessibility
      to regions’ resources, the Arctic is vital to the interests
      of the Arctic states and the world powers. They may
      be talking of co-operation, but they are preparing for
      conflict. Winter is coming.
