%div.post
  %h2.title
    = link_to "Awards", "#"

  %div.entry
    %p
    %p
    #experience
      %table
        %tr
          %th Delegate Awards
          %th Prize Money
        %tr
          %td Best Delegate
          %td Rs. 8000
        %tr
          %td High Commendation
          %td Rs. 5000
        %tr
          %td Special Mention
          %td Rs. 2000
        %tr
          %td Best Crisis Manager
          %td Rs. 1000
        %tr
          %td Best Position Paper
          %td Rs. 1000
    %br
    %p
      Apart from these awards, the International Press will confer other informal titles. So suit up, and speak up!
    %p
      %i{:style => "font-size:11px;"}
        The awards mentioned here are tentative.
