%div.post
  %h2.title
    = link_to "Awards", "#"

  %div.entry
    %p
      %ul
        %li 
          Best Delegate
        %li
          High Commendation
        %li
          Special Mention
        %li
          Best Position Paper  
