%div.post
  %h2.title
    = link_to "Conference Fees", "#"

  %div.entry
    %p
      %b
        For outstation delegates:
    %p
      The conference fee includes the following:
      %ul
        %li
          MUN Fees
        %li
          Delegate Night
        %li
          Star Nights of the fest.
        %li
          Accommodation
    %p
      The amount will be updated soon.
