%div.post
  %h2.title
    = link_to "Conference Fees", "#"

  %div.entry
    %p
      %b
        For outstation delegates: 
      INR 750/-
      %br
      This includes the following:
      %br
      MUN Fees
      %br
      Delegate Ball
      %br
      Star Nights of the fest.
      %br
      Accommodation
    %p
      %b
        For in-house (IIT Kharagpur) delegates: 
      INR 200/-
      %br
      This includes the following:
      %br
      MUN Fees
      %br
      Delegate Ball
