%div.post
  %h2.title
    = link_to "Contact Us", "#"

  %div.entry
    %p
      Thank you for showing interest in IIT Kharagpur Model United Nations Conference 2012. Our Team would be happy to not only answer any queries regarding the conference but also take valuable feedback from you to enhance your conference experience.
    %p
      Feel free to drop us a mail anytime @ iitkgpmun@gmail.com
