%div.post
  %h2.title
    = link_to "Director General", "#"
  %br
  %br
  %br
  
  %div.picture
    %img{:alt => "",  :src => "/images/Sanat.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Sanat is a sophomore studying Electronics with a secondary interest in Mathematics,
      especially Calculus. He has been hooked to the concept of MUN ever since his first
      conference in July this year. Apart from MUN, Parliamentary Debate is another form of
      public speaking that has captured Sanat’s imagination at college level. This Gurgaon lad
      who plays right-back for his college football team is also an avid reader and likes to play the
      guitar in his free time.
    .clr
