%div.post
  %h2.title
    = link_to "Directors", "#"
  %br
  %br
  %br
 
  %p
    %b
      Director of Media Relations and Head of IP
    %br
  %div.picture
    = #%img{:alt => "",  :src => "/images/Rohit.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Adarsh, fondly called Matthews, is a junior currently pursuing Industrial Engineering
      and Management Sciences at IIT Kharagpur. While not optimizing supply chain
      systems, he can be found doing a myriad of stuff, both good and bad. An avid
      writer, a seasoned debater and a sports aficionado [famous for his scary ManUtd
      rants], he's what you call a jack-of-all-trades. An assistant editor with the campus
      newspaper and a Governor of the DebSoc here, the MUN International Press, he
      claims, presents the perfect platform for him to pursue his literary passions on a
      formal level. Possesses grammar-Nazi tendencies and is a stickler for aesthetics, we
      also have on record a proclamation from him that Buckethead is better than Slash.
    .clr

  %p
    %b
      Director of Delegate Affairs and Public Relations 
    %br
  %div.picture
    %img{:alt => "",:height => "300", :width => "175",  :src => "/images/Barath.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Barath is currently a junior at IIT Kharagpur. Having been
      brought up in Bangalore and Chennai, he adds to the South
      Indian flavor of the team, what with his childhood obsession
      of reading The Hindu sipping ‘filter kaapi’ extending into his
      college days much to the exasperation of his wingies. An
      Organizing Head in the Events Team of Spring Fest, his interests
      primarily lie in ‘checking out’ new rock music (he also has no
      qualms revealing that rocknewsdesk.com is his homepage). His
      other interests include writing, reading and photography. 
    .clr

  %p
    %b
      Director of Conference Resources and Logistics 
    %br
  %div.picture
    %img{:alt => "",  :src => "/images/Rohit.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Rohit is a junior year student at IIT Kharagpur. He takes a
      special interest, almost obsessive, in travelling and has seen
      some of the most unseen corners of the country, thanks to his
      army background. A part of the Events Team of Spring Fest, his
      passion for philately is only beaten by his near-fanatical stock
      market following as he believes there is always a mathematical
      method behind the madness.
    .clr

  %p
    %b
      Director of Hospitality 
    %br
  %div.picture
    %img{:alt => "",:height => "280", :width => "215",  :src => "/images/Arpita.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Arpita is a junior year student at IIT Kharagpur. A social freak
      to the letter, her fixation for dramatics and dance knows no
      bounds. A part of the Events Team of Spring Fest as well as the
      Hindi Dramatics Society of the institute, appreciation of fine
      art, she claims, is a virtue one has to be born with. Her other
      interests include singing and writing. 
    .clr
