%div.post
  %h2.title
    = link_to "Executive Board", "#"

  %div.entry
    %p
      With the United Nations Security Council deliberating over Maritime Security and Territorial Disputes, and the Historic General Assembly contemplating over the future of Palestine, the conference is expected to be not only a perfect platform for but also an exciting challenge for the most capable and experienced Executive Board members to chair the debates on these complex and unresolved world issues. 
    %p
      The Executive Board will also work closely with the Secretariat and the Crisis Simulation Team. Our EB structure consists of the following:
      %ol
        %li
          %b
            Historic General Assembly:
            %ul       
              %li
                Chair
              %li
                Vice Chair
              %li
                Director
        %li
          %b
            United Nations Security Council:
            %ul       
              %li
                President
              %li
                Vice President
              %li
                Director

    %p
      The remuneration for the Executive Board of each council is as follows:
      %ul
        %li
          Chair: Rs 5000/-
        %li
          Vice Chair: Rs 4000/-
        %li
          Director: Rs 3000/-
    %p
      The Executive Board selection process is still underway.
      = link_to "Click here to apply." , eb_registrations_path
