%div.post
  %h2.title
    = link_to "Historic General Assembly Allotments", "#"

  %div.entry
    #experience    
      %table
        %tr
          %th Country
          %th Name
          %th College 
        %tr
          %td Jewish Agency (O)
          %td Apurv Kumar Mishra
          %td NLU Bhopal
        %tr
          %td Palestine AHC (O)
          %td Unnati Walia
          %td MBICEM Delhi
        %tr
          %td USA
          %td Sarabjeet Singh
          %td NLU Bhopal
        %tr
          %td UK
          %td Siddhant Jaiswal
          %td RMLNLU Lucknow
        %tr
          %td USSR
          %td Debasis Bishoyi
          %td SRMU
        %tr
          %td Rep. of China
          %td Soumya Mohapatra
          %td GIT Bhubaneswar
        %tr
          %td Afghanistan
          %td Anand Upendran
          %td National University of Advanced Legal Studies
        %tr
          %td Argentina
          %td Yashaswini Basu
          %td LSR College Delhi
        %tr
          %td Australia
          %td Amarnath Reddy
          %td SIT Pune
        %tr
          %td Belgium
          %td Anupama Vijayakumar
          %td NUJS Calcutta
        %tr
          %td Bolivia
          %td Yashi Surana
          %td Jadavpur University
        %tr
          %td Brazil
          %td Aaron Michael
          %td Anna University
        %tr
          %td Byelorussian SSR
          %td Harshit Neotia
          %td NALSAR
        %tr
          %td Canada
          %td Wahid Hussain
          %td Institute of Business Administration Dhaka
        %tr
          %td Chile
          %td Akansha Singh
          %td NLU Orissa
        %tr
          %td China
          %td Yashwant Adiraju
          %td CBIT Hyderabad
        %tr
          %td Colombia
          %td Sourabh Sanyal
          %td Orissa Engineering College Bhubaneswar
        %tr
          %td Costa Rica
          %td Syed Ibrahim Saajid
          %td Institute of Business Administration Dhaka
        %tr
          %td Cuba
          %td Palak Jain
          %td NLU Bhopal
        %tr
          %td Czechoslovakia
          %td Mrinal Mohan
          %td RGNLU
        %tr
          %td Denmark
          %td Varun Tyagi
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Dominican Republic
          %td Md. Yazdani Ul Islam
          %td Islamic University of Technology
        %tr
          %td Ecuador
          %td Arif Nezami
          %td United International University Bangladesh
        %tr
          %td Egypt
          %td Chavali Sai Anisha
          %td Manipal
        %tr
          %td El Salvador
          %td Mythili Chandrashekhar
          %td NLU Orissa
        %tr
          %td Ethiopia
          %td Gagan Narang
          %td NLU Orissa
        %tr
          %td France
          %td Siddharth Uppal
          %td VIT
        %tr
          %td Greece
          %td Abhaya Panigrahi
          %td College of Engineering and Technology Bhubaneswar
        %tr
          %td Guatemala
          %td Earlis Dilbung
          %td St. Stephen's College Delhi
        %tr
          %td Haiti
          %td Kartikeya Pradhan
          %td IIT Kharagpur
        %tr
          %td Honduras
          %td Divya John
          %td St. Stephen's College Delhi
        %tr
          %td Iceland
          %td Mohammed Naser Ahmed Aziz
          %td Shadan College of Engineering and Technology
        %tr
          %td India
          %td Arya Chakrabarty
          %td KIIT University Bhubaneswar
        %tr
          %td Iran
          %td Mohammed Amer Abeddin
          %td Shadan College of Engineering and Technology
        %tr
          %td Iraq
          %td Vijayaraghavan
          %td NUJS Calcutta
        %tr
          %td Lebanon
          %td Saket Mani
          %td SIT Pune
        %tr
          %td Liberia
          %td Ushnish Chaudhuri
          %td Sri Venkateswara College Delhi
        %tr
          %td Luxembourg
          %td Nikhilesh Ravi
          %td SRMU
        %tr
          %td Mexico
          %td Devika Arora
          %td Jaypee Institute of Information Technology Noida
        %tr
          %td Netherlands
          %td Rishav Mishra
          %td IIT Kharagpur
        %tr
          %td New Zealand
          %td Pooja Singh
          %td IIT Roorkee
        %tr
          %td Nicaragua
          %td Arani Dhar
          %td Asutosh College, Kolkata
        %tr
          %td Norway
          %td Anvesha Kumar
          %td RMLNLU Lucknow
        %tr
          %td Pakistan
          %td Anisha Jain
          %td SGSITS
        %tr
          %td Panama
          %td Aditi Narayani
          %td St. Stephen's College Delhi
        %tr
          %td Paraguay
          %td Bhanu Tanwar
          %td RGNLU Patiala
        %tr
          %td Peru
          %td Subhrangsu Mukherjee
          %td NIT Durgapur
        %tr
          %td Philippines
          %td Ashwini Balasundaram
          %td SRMU
        %tr
          %td Poland
          %td Raj Dave
          %td VNIT Nagpur
        %tr
          %td Saudi Arabia
          %td Rachana Rautray
          %td NUJS Calcutta
        %tr
          %td South Africa
          %td Shalini Asija
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Sweden
          %td Anurag Saha
          %td NIT Durgapur
        %tr
          %td Syria
          %td Syed Asim
          %td Shadan College of Engineering & Technology Hyderabad
        %tr
          %td Thailand
          %td Anirban Bhattacharya
          %td Jadavpur University Calcutta
        %tr
          %td Turkey
          %td Prachi Doshi
          %td Jadavpur University Calcutta
        %tr
          %td Ukrainian SSR
          %td Prateek Dash
          %td ITER
        %tr
          %td Uruguay
          %td Utkarsh Soni
          %td NUJS Calcutta
        %tr
          %td Venezuela
          %td Pallavi Prasad
          %td LSR College Delhi
        %tr
          %td Yemen
          %td Akash Pratap Singh
          %td NLU Orissa
        %tr
          %td Yugoslavia
          %td Abhishek Iyer
          %td NLU Orissa
