%div.post
  %h2.title
    = link_to "Historic General Assembly Allotments", "#"

  %div.entry
    #experience    
      %table
        %tr
          %th Country
          %th Name
          %th College 
        %tr
          %td Jewish Agency [O]
          %td Apurv Kumar Mishra
          %td NLU Bhopal
        %tr
          %td Palestine Arab Higher Committee [O]
          %td Unnati Walia
          %td MBICEM Delhi
        %tr
          %td United States of America
          %td Raghav Chawla
          %td UPES Dehradun
        %tr
          %td United Kingdom
          %td Siddhant Jaiswal
          %td RMLNLU Lucknow
        %tr
          %td Soviet Union
          %td Tannishtha Bhattacharjee
          %td LSR College Delhi
        %tr
          %td Republic of China
          %td Punyashlok Dwibedy
          %td GIT Bhubaneswar
        %tr
          %td France
          %td Raman Kumar
          %td IIT Madras
        %tr
          %td Afghanistan
          %td Angshuman Choudhury
          %td Ramjas College Delhi
        %tr
          %td Argentina
          %td Yashavini Basu
          %td LSR College Delhi
        %tr
          %td Australia
          %td Tanvi Bist
          %td LSR College Delhi
        %tr
          %td Belgium
          %td Chavali Sai Anisha
          %td Manipal Institue of Technology
        %tr
          %td Bolivia
          %td Aman Verma
          %td Symbiosis Law School Noida
        %tr
          %td Brazil
          %td Aaron Michael
          %td Anna University
        %tr
          %td Byelorussian SSR
          %td Anisha Kumar
          %td ILS Pune
        %tr
          %td Canada
          %td Md. Saidur Rahman
          %td Institute of Business Administration Dhaka
        %tr
          %td Chile
          %td Harkanwal Khurana
          %td DAV College Jalandhar
        %tr
          %td Colombia
          %td Sourabh Sanyal
          %td Orissa Engineering College Bhubaneswar
        %tr
          %td Costa Rica
          %td Syed Ibrahim Saajid
          %td Institute of Business Administration Dhaka
        %tr
          %td Cuba
          %td Vivek Singh
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Czechoslovakia
          %td Udit Misra
          %td NUJS Calcutta
        %tr
          %td Denmark
          %td Varun Tyagi
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Dominican Republic
          %td Md. Yazdhani Ul Islam
          %td Islamic University of Technology Dhaka
        %tr
          %td Ecuador
          %td Arif Nezami
          %td United International University Dhaka
        %tr
          %td Egypt
          %td Supritha Suresh
          %td NLU Jodhpur
        %tr
          %td El Salvador
          %td Mythili Chandrashekhar
          %td NLU Orissa
        %tr
          %td Ethiopia
          %td Lalit Kumar
          %td VNIT Nagpur
        %tr
          %td Greece
          %td Garima Singal
          %td Delhi School of Economics
        %tr
          %td Guatemala
          %td Earlis Dilbung
          %td St. Stephen’s College Delhi
        %tr
          %td Haiti
          %td Kartikeya Pradhan
          %td IIT Kharagpur
        %tr
          %td Honduras
          %td Divya John
          %td St. Stephen’s College Delhi
        %tr
          %td Iceland
          %td Akash Pratap Singh
          %td NLU Orissa
        %tr
          %td India
          %td Arya Chakrabarty
          %td KIIT University Bhubaneswar
        %tr
          %td Iran
          %td Navya Jannu
          %td Jindal Global Law School
        %tr
          %td Iraq
          %td Vijayaraghavan
          %td NUJS Calcutta
        %tr
          %td Lebanon
          %td Sarojini Mitra
          %td RMLNLU Lucknow
        %tr
          %td Liberia
          %td Ushnish Chaudhuri
          %td Sri Venkateswara College Delhi
        %tr
          %td Luxembourg
          %td Ankita Mukhopadhyay
          %td LSR College Delhi
        %tr
          %td Mexico
          %td Devika Arora
          %td Jaypee Institue of Information Technology Noida
        %tr
          %td Netherlands
          %td Rishav Mishra
          %td IIT Kharagpur
        %tr
          %td New Zealand
          %td Additi Seth
          %td LSR College Delhi
        %tr
          %td Nicaragua
          %td Md. Habibur Rahaman
          %td University of Dhaka
        %tr
          %td Norway
          %td Sudhanshu Gupta
          %td Lingayas University
        %tr
          %td Pakistan
          %td Roopali Adhlakha
          %td NUJS Calcutta
        %tr
          %td Panama
          %td Aditi Narayani
          %td St.Stephen’s College Delhi
        %tr
          %td Paraguay
          %td Bhanu Tanwar
          %td RGNLU Patiala
        %tr
          %td Peru
          %td Subhrangsu Mukherjee
          %td NIT Durgapur
        %tr
          %td Philippines
          %td Sriharsha Vaviala
          %td BITS Pilani Hyderabad
        %tr
          %td Poland
          %td Raj Dave
          %td VNIT Nagpur
        %tr
          %td Saudi Arabia
          %td Rachana Rautray
          %td NUJS Calcutta
        %tr
          %td South Africa
          %td Shalini Asija
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Sweden
          %td Aditya Agarwal
          %td NIT Nagpur
        %tr
          %td Syria
          %td Syed Asim
          %td Shadan College of Engineering & Technology Hyderabad
        %tr
          %td Thailand
          %td Anirban Bhattacharya
          %td Jadavpur University Calcutta
        %tr
          %td Turkey
          %td Vennela Gandikota
          %td St. Francis College Hyderabad
        %tr
          %td Ukrainian SSR
          %td Divya Agarwal
          %td Symbiosis Law School Pune
        %tr
          %td Uruguay
          %td Prateek Dash
          %td ITER Bhubaneswar
        %tr
          %td Venezuela
          %td Pranjal Pathak
          %td Galgotia College of Engineering & Technology Noida
        %tr
          %td Yemen
          %td Nivedita Giri
          %td UPES Dehradun
        %tr
          %td Yugoslavia
          %td Aseem Duggal
          %td Manipal Institute of Technology
