%div.post
  %h2.title
    = link_to "Historic General Assembly", "#"

  %div.entry
    %p
      %br
      Set in the late 1940s, this committee represents a world still reeling from the devastating effects of the greatest war in recorded human history. Throughout this time, the Middle East has been on tenterhooks. The immigration of Jews to the land they believe is theirs by right of religion, greatly accelerated due to persecution by the Nazis, has been seen as a threat and an encroachment by the Arab majority residing there. Land purchases and employment restrictions, among other things, have enraged them. The Jews, for their part, have suffered greatly as well, right from the misdirection portrayed by the Balfour Declaration of 1917, to the fiasco with the Exodus ship. The United Kingdom, which was given the mandate to rule these lands in accordance with the 1919 Paris Peace Conference, has been unable to bring forth a solution to the problem, and now things have started ripping at the seams. Riots and hostilities are a present concern.
    %p
      Conscious of the turmoil at the time and the potential for future catastrophe, Britain, the mandatory power then, looked to the United Nations for intervention. At its request, the Secretary General has convened the first ever special session of the General Assembly on November 29, 1947 to discuss the future of Palestine. And there will be some tough questions to ask. Is there a need for a Jewish state, considering the fact that the majority of Jews in Palestine presently are illegal immigrants? What of the future government of Palestine? And what will be the political status and religious rights of the minorities? This committee arguably hold the fate of an entire civilization in their hands. And it is upto the delegates to, potentially, re-write history.
    %p
      %b Country Matrix:
      Coming Soon!
