redirect_to "http://springfest.in/iitkgpmun"
=begin
%div.post
  %h2.title
    = link_to "A letter from the Secretary-General", "#"

  %div.entry
    %p
      Dear Prospective Delegates,
    %p
      It is with great pleasure that I welcome you to the maiden session of IIT Kharagpur Model United Nations Conference which is to be held from 
      %b
        Saturday, the 21st of January to Monday, the 23rd of January 2012.
    %p
      At the IIT Kharagpur Model United Nations Conference we promise to provide you an excellent platform for engaging and substantive debate on pertinent world issues, and a first-hand opportunity to understand the workings of the United Nations. With an aim to promote constructive dialogue and cultural exchange among delegates, the three day conference will put to test the crisis management, diplomacy and leadership skills of the delegates, all the while offering them an excellent opportunity to think in a strategic and analytical manner and to come up with bold and creative solutions to key problems of the human race. With agendas centred around the dynamic international system with complex and unresolved issues that could potentially change the course of world events, one can expect fast paced, intense debates with tremendous scope for deliberations on foreign policy.
    %p
      Apart from the novel councils, a dedicated crisis simulation team will endow the delegates with compelling crisis situations, not to mention expert witnesses who will add to the realism and gravity of the state of affairs. A dynamic International Press will cover the entire conference, and schedule press conferences, candid interviews, and prepare a newsletter at the end of each day of the conference. Expect extensive use of technology and multimedia in all of our committees that will add to the excitement of the simulation. On the informal side of things, the conference will have a Delegate Night providing you the opportunity to socialize with the very delegates you've had intense deliberations with. There are several other interesting events lined up as well, with some of the most revered names in the international rock scene performing in the fest.
    %p
      Preparations are already underway, courtesy a dedicated and highly motivated team, and we look forward to receiving you in person at IIT Kharagpur next January.
    %p
      If you have any suggestions, queries, or feedback please feel free to contact us.
    %p

      Sincerely,
      %br
      Prashanth Durai
      %br
      Secretary-General
      %br
      IIT-Kharagpur Model United Nations Conference 2012

=end