%div.post
  %h2.title
    = link_to "International Press", "#"

  %div.entry
    %p
      The Free Press. An institution that keeps governments and organizations ticking, keeps the masses informed, and plays a vital role in not only forming public opinion but also voicing it. At the IIT KGP MUN, we are of the belief that a conscientious Press is of vital importance. We also believe that the Press Corps not only has the role of informing the delegates of the day-to-day happenings of the conference, but also question their stance and hold them responsible and accountable for their actions inside and outside the conference.
    %p
      The Press Corps at IIT KGP MUN will cover the conference extensively, providing factual reports and expert political commentary on council proceedings. Press Conferences and interviews, both candid and formal, will be scheduled before, during, and after council sessions. With extensive usage of multimedia, and the Internet, it sure is going to be a very tech-savvy Press. Prospective journalists of the International Press are expected to be well-read on the councils and agendas, not to mention have a sharp eye for detail and the ability to analyze the foreign policy stances of countries.
    %p
      Applications for International Press will be out on Oct 20th,2011.  Keep watching this space for more.
