%div.post
  %h2.title
    = link_to "Key Dates", "#"

  %div.entry
    %p 
      %table{:id => "new_eb"} 
        %tr
          %td
            Executive Board Applications: 
          %td
            Oct 12 - Oct 25, 2011.
        %tr
          %td
            Delegate applications (Priority Registrations): 
          %td
            Oct 26, 2011 onwards.
        %tr
          %td
            International Press applications:    
          %td
            Nov 1st, 2011 onwards.
        %tr
          %td
            Last Date for Online Payment and Ticket Confirmation: 
          %td
            Nov 25, 2011.
        %tr
          %td
            Last Date for the submission of position paper:             
          %td
            Jan 15, 2012.
        %tr
          %td
            Conference Dates:
          %td
            Jan 21 to 23, 2012.
