%div.post
  %h2.title
    = link_to "Key Dates", "#"

  %div.entry
    %p
      Executive Board Applications: Oct 5 – Oct 15, 2011
    %p
      Delegate applications (Priority Registrations): Oct 15th – Nov 5th
      2011
    %p
      IP applications: Oct 15th to Nov 5th
    %p
      Last Date for Online Payment and Ticket Confirmation: Nov 15th
      2011
    %p
      Last Date for the submission of position paper: Jan 10th 2012
    %p
      Conference Dates: Jan 21 to 23, 2012.
