%div.post
  %h2.title
    = link_to "Meet The Team", "#"
  %br
  %br
  %br
  
  %p
    %b
      Secretary General
    %br
  %div.picture
    %img{:alt => "",  :src => "/images/Prashanth.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Prashanth is currently a junior at IIT Kharagpur. His passion for
      International politics and statecraft has seen him attend several
      Model UN conferences all over the country since his freshman year;
      he thrives off of it. In addition to being the Secretary-General, he
      actively contributes to Debating Society, IIT Kharagpur where he
      serves in the capacity of Governor and leads the inter-collegiate
      team in various debating events. Outside the class and conference
      room, he is a prolific athlete with an impressive record in sprinting, is
      a trainee at the Indian Squash Academy and hopes to represent his
      institute at the Inter-IIT Sports meet this December. An avid traveller,
      voracious reader, and an agile swimmer, he hopes to provide you
      with a glitch-free conference and a unique and memorable MUN
      experience.
    .clr
  %p
    %b
      Director General
    %br
  %div.picture
    %img{:alt => "",:width => "186", :height=> "233",  :src => "/images/Sanat.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Sanat is a sophomore studying Electronics with a secondary interest in Mathematics,
      especially Calculus. He has been hooked to the concept of MUN ever since his first
      conference in July this year. Apart from MUN, Parliamentary Debate is another form of
      public speaking that has captured Sanat’s imagination at college level. This Gurgaon lad
      who plays right-back for his college football team is also an avid reader and likes to play the
      guitar in his free time.
    .clr
  %p
    %b
      Under Secretary General
    %br
  %div.picture
    %img{:alt => "", :height => "300", :width => "200",  :src => "/images/Vishnu.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Vishnu is a freshman pursuing a dual degree in Biotechnology and Biochemical Engineering
      at IIT-Kharagpur. Having studied in Dubai, Bahrain and Hyderabad, his prodigious love for
      current affairs, world politics and really everything international gives him great motivation
      to be a forerunner when it comes to MUN. He also has an excellent working knowledge of
      Arabic, French and German, and has made cultural visits to 14 countries around the world
      including the UK, France and Singapore when still a school-student. Apart from being an avid
      reader of books and fascinated by all kinds of sports, Vishnu’s a typical hobby-geek, with
      involvements in Music vocals, cinematic dance and lawn tennis as well.
    .clr

  %p
    %b
      Director of Media Relations and Head of IP
    %br
  %div.picture
    = #%img{:alt => "",  :src => "/images/Rohit.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Adarsh, fondly called Matthews, is a junior currently pursuing Industrial Engineering
      and Management Sciences at IIT Kharagpur. While not optimizing supply chain
      systems, he can be found doing a myriad of stuff, both good and bad. An avid
      writer, a seasoned debater and a sports aficionado [famous for his scary ManUtd
      rants], he's what you call a jack-of-all-trades. An assistant editor with the campus
      newspaper and a Governor of the DebSoc here, the MUN International Press, he
      claims, presents the perfect platform for him to pursue his literary passions on a
      formal level. Possesses grammar-Nazi tendencies and is a stickler for aesthetics, we
      also have on record a proclamation from him that Buckethead is better than Slash.
    .clr

  %p
    %b
      Director of Delegate Affairs and Public Relations
    %br
  %div.picture
    %img{:alt => "",:height => "300", :width => "175",  :src => "/images/Barath.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Barath is currently a junior at IIT Kharagpur. Having been
      brought up in Bangalore and Chennai, he adds to the South
      Indian flavor of the team, what with his childhood obsession
      of reading The Hindu sipping ‘filter kaapi’ extending into his
      college days much to the exasperation of his wingies. An
      Organizing Head in the Events Team of Spring Fest, his interests
      primarily lie in ‘checking out’ new rock music (he also has no
      qualms revealing that rocknewsdesk.com is his homepage). His
      other interests include writing, reading and photography.
    .clr

  %p
    %b
      Director of Conference Resources and Logistics
    %br
  %div.picture
    %img{:alt => "",  :src => "/images/Rohit.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Rohit is a junior year student at IIT Kharagpur. He takes a
      special interest, almost obsessive, in travelling and has seen
      some of the most unseen corners of the country, thanks to his
      army background. A part of the Events Team of Spring Fest, his
      passion for philately is only beaten by his near-fanatical stock
      market following as he believes there is always a mathematical
      method behind the madness.
    .clr

  %p
    %b
      Director of Hospitality
    %br
  %div.picture
    %img{:alt => "",:height => "280", :width => "215",  :src => "/images/Arpita.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p
      Arpita is a junior year student at IIT Kharagpur. A social freak
      to the letter, her fixation for dramatics and dance knows no
      bounds. A part of the Events Team of Spring Fest as well as the
      Hindi Dramatics Society of the institute, appreciation of fine
      art, she claims, is a virtue one has to be born with. Her other
      interests include singing and writing.
    .clr

