%div.post
  %h2.title
    = link_to "Secretary General", "#"
  %br
  %br
  %br
  
  %div.picture
    %img{:alt => "",  :src => "/images/Prashanth.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Prashanth is currently a junior at IIT Kharagpur. His passion for
      International politics and statecraft has seen him attend several
      Model UN conferences all over the country since his freshman year;
      he thrives off of it. In addition to being the Secretary-General, he
      actively contributes to Debating Society, IIT Kharagpur where he
      serves in the capacity of Governor and leads the inter-collegiate
      team in various debating events. Outside the class and conference
      room, he is a prolific athlete with an impressive record in sprinting, is
      a trainee at the Indian Squash Academy and hopes to represent his
      institute at the Inter-IIT Sports meet this December. An avid traveller,
      voracious reader, and an agile swimmer, he hopes to provide you
      with a glitch-free conference and a unique and memorable MUN
      experience.
    .clr
