%div.post
  %h2.title
    = link_to "Study Guides", "#"

  %div.entry
    %p
      = link_to "Click here to download the study guide for UN Security Council", "http://iitkgpmun.springfest.in/unsc_study_guide.pdf" , :target => "_blank"

    %p
      = link_to "Click here to download the study guide for Historic General Assembly", "http://iitkgpmun.springfest.in/hga_study_guide.pdf" , :target => "_blank"
    
