%div.post
  %h2.title
    = link_to "The Team", "#"

  %div.entry
    %p
      Secretary General - Prashanth Durai
      %br
      Director General- Sanat Mehrotra
      %br
      Under Secretary General - Vishnu Subramanian
      %br
      Director of Media and Press Relations - Adarsh Mathew
      %br

      Director of Delegate Affairs and Public Relations - Barath Mahadevan
      %br

      Director of Conference Resources and Logistics - Rohit John
      %br

      Director of Hospitality - Arpita Maheshwari
