<div id ="post"><div id = "entry"><div id ="experience"><table><tr><td>United States of America  </tr></td>
<tr><td>United Kingdom of Great Britain and Northern Ireland </tr></td>
<tr><td>People’s Republic of China </tr></td>
<tr><td>France </tr></td>
<tr><td>Russian Federation </tr></td>
<tr><td>Canada</tr></td>
<tr><td>Denmark</tr></td>
<tr><td>Norway</tr></td>
<tr><td>Vietnam</tr></td>
<tr><td>Philippines</tr></td>
<tr><td>Malaysia</tr></td>
<tr><td>India</tr></td>
<tr><td>Germany</tr></td>
<tr><td>Japan</tr></td>
<tr><td>South Korea</tr></td>
<tr><td>Iceland [O]</tr></td>
<tr><td>Finland [O]</tr></td>
<tr><td>Thailand [O]</tr></td>
<tr><td>Singapore [O]</tr></td>
<tr><td>Indonesia [O]</tr></td>
</table>
</div></div></div>
