#post
  #entry
    #experience
      %table
        %tr
          %td United States of America
        %tr
          %td United Kingdom of Great Britain and Northern Ireland
        %tr
          %td People’s Republic of China
        %tr
          %td France
        %tr
          %td Russian Federation
        %tr
          %td Canada
        %tr
          %td Denmark
        %tr
          %td Norway
        %tr
          %td Vietnam
        %tr
          %td Philippines
        %tr
          %td Malaysia
        %tr
          %td India
        %tr
          %td Germany
        %tr
          %td Japan
        %tr
          %td South Korea
        %tr
          %td Iceland [O]
        %tr
          %td Finland [O]
        %tr
          %td Thailand [O]
        %tr
          %td Singapore [O]
        %tr
          %td Indonesia [O]
