%div.post
  %h2.title
    = link_to "Travel Plan", "#"

  %div.entry
    %p
      IIT Kharagpur is located 120 kilometres west of Kolkata, West Bengal.
    %p
      By Train: Kharagpur is directly connected to most major towns in the country. The institute is 10 minutes from the Kharagpur Railway station. Our PR Team will be there to receive you at the station.
    %p
      By Air: The nearest airport is Kolkata. Kharagpur can be reached in about 2 hours by train from Howrah railway station of Kolkata or 3 hours by car from Kolkata Airport. 

    %p
      = link_to "Click here for the list of trains from various cities to Kharagpur." , "http://iitkgpmun.springfest.in/travel_planning_trains.pdf", :target => "_blank"
    %p
      = link_to "Click here for the list of flights from various cities to Kolkata.", "http://iitkgpmun.springfest.in/travel_planning_flights.pdf", :target => "_blank"
    %p
      = link_to "Click here for the list of trains from Howrah station to Kharagpur.", "http://iitkgp.ac.in/train/", :target => "_blank"

