%div.post
  %h2.title
    = link_to "Under Secretary General", "#"
  %br
  %br
  %br
  
  %div.picture
    %img{:alt => "", :height => "300", :width => "200",  :src => "/images/Vishnu.jpg", :style => "padding: 35px 30px 30px 20px;" }
  %div.entry
    %p 
      Vishnu is a freshman pursuing a dual degree in Biotechnology and Biochemical Engineering
      at IIT-Kharagpur. Having studied in Dubai, Bahrain and Hyderabad, his prodigious love for
      current affairs, world politics and really everything international gives him great motivation
      to be a forerunner when it comes to MUN. He also has an excellent working knowledge of
      Arabic, French and German, and has made cultural visits to 14 countries around the world
      including the UK, France and Singapore when still a school-student. Apart from being an avid
      reader of books and fascinated by all kinds of sports, Vishnu’s a typical hobby-geek, with
      involvements in Music vocals, cinematic dance and lawn tennis as well.
    .clr
