%div.post
  %h2.title
    = link_to "United Nations Security Council", "#"

  %div.entry
    %p
      %br
      Turn the clock back half a millennium. Stagnating in all walks of life, sixteenth-century Europe is starved of resources and hungry to expand. With the knowledge that unknown worlds lie beyond the horizon, with tales of riches galore, and with a fear that arises from competition, the nations of Europe begin sending out expeditions to faraway and exotic lands. And so begin, the Age of Discovery and the Era of Colonialism. The conquest, the discovery, the glory. And only partially seen: the oppression, murder and brewing hate behind the glory. It builds up to horrific proportions. And it all culminates in the bloodiest war in the history of mankind. World War I.
    %p

      Dark days indeed.
    %p

      It is now 2011. Nations and corporations have come to that same critical point: the search for those all-precious resources. Advances in exploration technology, coupled with the melting of the ice-caps, will allow humanity to tap the resources of the Arctic. This is of immense strategic importance. The Arctic is reported to have massive deposits of crude-oil, natural gas, and minerals. The Arctic states have long recognized its value; they've been fortifying their navies despite ratifying the UNCLOS. There is clear aggression, and battle lines are being drawn.
    %p

      Then there is the tension over the South China Sea which China is staking claim over. Rich in oil and natural gas reserves, the South China Sea presents a viable solution to China's ever-increasing energy demands. Meanwhile, in the neighboring countries - Vietnam, Malaysia, and Indonesia - military expenditure has tripled in the last decade. Domination over these waters will go a long way in establishing China as the sole power in this region, something that many believe is in-line with China's ambitions.
    %p

      Countries talk of co-operation, but the hostility is evident. They are preparing for war. The Security Council must step in to address these issues, negotiate deals, verify claims, and attempt to broker world peace.
    %p

      The North is beckoning. The Dragon is rumbling. Winter is coming.
    %p

    %p
      %b Legend:
      %ul
        %li [O] - Observer
    #experience
      %table{:style => "width:400px;"}
        %tr
          %th Country Matrix 
        %tr
          %td United States of America
        %tr
          %td United Kingdom of Great Britain and Northern Ireland
        %tr
          %td People’s Republic of China
        %tr
          %td France
        %tr
          %td Russian Federation
        %tr
          %td Canada
        %tr
          %td Denmark
        %tr
          %td Norway
        %tr
          %td Vietnam
        %tr
          %td Philippines
        %tr
          %td Malaysia
        %tr
          %td India
        %tr
          %td Germany
        %tr
          %td Japan
        %tr
          %td South Korea
        %tr
          %td Iceland [O]
        %tr
          %td Finland [O]
        %tr
          %td Thailand [O]
        %tr
          %td Singapore [O]
        %tr
          %td Indonesia [O]
