%div.post
  %h2.title
    = link_to "United Nations Security Council", "#"

  %div.entry
    %p
      The South China Sea invariably ranks as one of South East Asia’s potential hotspots for armed conflict in the world today. The lingering territorial dispute among China, Viet Nam, the Philippines and Malaysia over parts or all of the Spratly and Paracel Islands in the South China Sea does not appear ripe for any near-term solution. Add to that the naval policies and ever-increasing military expenditure of the countries in question, the region is on tenterhooks with all parties treading on light water.
    %p
      While the core problem is regional, the issue has garnered attention in international circles because of the importance of the South China Sea to both claimants and economic powers like the USA and India. A very critical trade route for the shipping industry, the South China Sea is said to possess massive reserves of oil and natural gas under its seabed– a treasure trove for China, Viet Nam, and the other claimants in light of their ever increasing energy demands and improving economies. Also, the South China Sea presents a vital cog in China’s bid to become a global naval power. Domination over these waters will go a long way in establishing China as the sole power in this region, something that many believe is in-line with China's ambitions. The use of force by the PRC has done nothing to quell the fears of countries like Viet Nam and the Philippines. With tremendous scope for a full naval conflict between the South East Asian countries, the Security Council must step in and, literally, navigate through murky waters to ensure peace and stability in the region.

    %p
      %b Legend:
      %ul
        %li [O] - Observer
    #experience
      %table{:style => "width:400px;"}
        %tr
          %th Country Matrix 
        %tr
          %td People’s Republic of China
        %tr
          %td United States of America
        %tr
          %td Russian Federation
        %tr
          %td United Kingdom of Great Britain and Northern Ireland
        %tr
          %td France
        %tr
          %td Viet Nam
        %tr
          %td Philippines
        %tr
          %td Iran (Islamic Republic of)
        %tr
          %td Brazil
        %tr
          %td South Africa
        %tr
          %td Australia
        %tr
          %td India
        %tr
          %td Japan
        %tr
          %td Republic of Korea
        %tr
          %td Venezuela (Bolivarian Republic of)
        %tr
          %td Singapore
        %tr
          %td Indonesia
        %tr
          %td Malaysia
        %tr
          %td Thailand
