%div.post
  %h2.title
    = link_to "United Nations Security Council", "#"

  %div.entry
    %p
      %br
      Turn back the clock by 6 centuries. Facing a dearth of
      resources and a hunger to expand, the aftermath of
      the Industrial Revolution spelled stagnation. But with
      the knowledge that unknown worlds lay beyond the
      horizon with tales of riches galore and a fear that arose
      from competitive spirit, nations began sending out
      expeditions to said faraway lands. And thus began the
      Colonial era. And with it came wars, disputes, oppression
      and an arms race of the like the world had never seen.
    %p    
      %br
      All this culminated in the bloodiest war in the history of
      humankind until then, World War I. Dark days indeed.
      The year now is 2011 and we find ourselves in the same
      predicament, facing the same conundrum – where do we
      find our resources from? And deep down in the recesses
      of our consciousness, tales of the abundant riches of
      the Arctic whisper to us, calling out like a mermaid’s
      song. With the melting ice-caps and greater accessibility
      to regions’ resources, the Arctic is vital to the interests
      of the Arctic states and the world powers. They may
      be talking of co-operation, but they are preparing for
      conflict. Winter is coming.
    %p
      %b Country Matrix:
      Coming Soon!

