%div.post
  %h2.title
    = link_to "What is IITKGPMUN ?", "#"

  %div.entry
    %p
     
      A concept that was born over several cups of coffee on a warm summer night in April 2011, IIT Kharagpur Model United Nations Conference is an endeavour to reach out to the best minds in the country to find solutions to global issues. Organized by Spring Fest, the annual social and cultural festival of the institute, and Debating Society, IIT Kharagpur, we believe that at IIT KGP MUN, borders will be transcended, obstacles tackled, crises handled effectively, and solutions will emerge; but most importantly, long-lasting friends will be made.

    %p
      %b
        Our Values:
    %p

      We believe that a MUN conference is a perfect avenue to innovate, and the 
      %b
        desire to innovate 
      is at the core of our practices. It is this ideology that will be central to all our conferences. It is our hope that all the attendees of the conference, be it the Executive Board, the delegates, the Press, as well as the conference staff, are going to be enamoured by the concept of IIT KGP MUN simply because of our principle of innovation in each and every aspect of our work.
    %p

      While it is innovation that guides us, every one of us here at IIT KGP MUN possesses an inherent, burning 
      %b
        passion for excellence. 
      It is this passion for excellence that drives us to achieve the high standards we aim and set for ourselves. It is this passion that enables us to attach a high degree of importance to professionalism, quality, and thorough preparedness in every one of our endeavours.
    %p

      Here at IIT KGP MUN, we are continuously looking to outdo ourselves in our goal to attain perfection in all aspects of the Conference, from preparing the most well-informed and comprehensive study guides to penning the agendas, from preparing up-to-date research material to providing the best of conference logistics and more. It is this profound 
      %b
        dedication towards perfection 
      that defines who we are, and is the driving force behind all those man-hours of tireless work behind the scenes to provide for a memorable experience for one and all attached to the conference.
    %p
      %b
        Our Vision:
    %p
      Even though IIT KGP MUN as of now is in a state of inception, its dreams are big. With a vision to be the pioneers of the East-India MUN circuit, it will seek in subsequent years to establish itself as the MUN to attend, hence becoming a melting pot for MUN enthusiasts not only within the country, but also on a global level. 
