%div.post
  %h2.title
    = link_to "Why IITKGPMUN ?", "#"

  %div.entry
    %p
      With innovative councils, compelling crisis simulations, a
      dynamic International Press, state-of- the-art infrastructure and
      the extravaganza that comes along with the Diamond Jubilee
      Year celebrations of the country’s first IIT - not to mention the
      handsome prize money you stand to win - this is one MUN you
      wouldn’t want to miss. Add to that the plethora of concerts and
      shows in the fest itself - soul-stirring classical music, international
      rock gigs, mind boggling performances; Executive Board and
      International Press remuneration, IIT KGP MUN has it all.
