%div.post
  %h2.title
    = link_to "Executive Board", "#"

  %div.entry
    %p
      The Executive Board selection process is still underway.
      = link_to "Click here to apply." , eb_registrations_path
